
* {
all: unset;
}

window {
background: #1E222A;
}

.works {
background-color: #252931;
font-size: 50;
}

.unoccupied {
  color: #545862;

}
.occupied {
  color: #D8DEE9;

}
.focused {
  color: #61AFEF;
}
.urget {
  color: #ff0000;

}
